/* public/css/app.css */
.container {
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
    box-sizing: border-box;
}

@media (min-width: 576px) {
    .container {
        max-width: 540px;
    }
}

@media (min-width: 768px) {
    .container {
        max-width: 720px;
    }
}

@media (min-width: 992px) {
    .container {
        max-width: 960px;
    }
}

@media (min-width: 1200px) {
    .container {
        max-width: 1140px;
    }
}

@media (min-width: 1400px) {
    .container {
        max-width: 1320px;
    }
}

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background-color: #ffffff;
    padding: 10px 0;
}

.header-facebook-icon{
    display: flex;
    justify-content: right;
}

.website-header-main-title {
    background: linear-gradient(125deg, rgb(64, 115, 115), rgb(48, 52, 64));
    color: white;
    box-shadow: 10px 10px 10px black;
}

.website-header-main-title p{
    line-height: 1.6;
    margin-bottom: 5px;
    font-family: 'Open Sans', serif;
    font-size: 1.8vw;
    width: 70%;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    font-weight: 900;text-shadow: 0 4px 4px #23168e, 0 2px 8px #10ff00, 0 2px 200px #000000;
}


.header-image-container {
    width: 100%;
    height: 100%;
}

.header-image-container img {
    width: 100%;
    height: 100%;
    object-fit: cover; /* Ensures the image covers the container */
}

nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
}

nav ul li {
    margin: 0 15px;
}

nav ul li a {
    text-decoration: none;
    color: #333;
    font-weight: bold;
}


/* css for news ticker */

.ticker-container {
    width: 300px;
    height: 50px;
    overflow: hidden;
    background-color: #fff;
    position: relative;
}

.ticker-item {
    width: 100%;
    height: 50px;
    line-height: 50px;
    text-align: left;
    position: absolute;
    top: 0;
    left: 0;
    transition: top 0.5s ease-in-out;
}
